<div id="restaurant_<%= restaurant.id %>">
  <h1><%= restaurant.name %></h1>
  <p><%= restaurant.location %></p>
  <a href='<%= restaurant.url %>'><img src='<%= restaurant.rating_img_url %>'/></a>
  <br/>
  <br/>
  <% if( restaurant.is_favorite === true ){ %>
    <p>This is one of your favorites.  Thanks for contributing!</p>
  <% }else{ %>
    <p><form action='#/favorite/<%= restaurant.id %>/' method="post"><input type='submit' value='Save as Favorite'/></form></p>
  <% } %>
  <br/>
  <p>Favorite count:<%= ' ' + restaurant.user_count %></p>
  <% if( restaurant.user_count > 0 ){ %>
    <br/>
    <h3>Users who have marked this as a Favorite:</h3>
    <%= restaurant.users_html %>
  <% } %>
</div>
