<div id="user_<%= user.id %>">
  <img src='<%= user.pic %>'/>
  <h2><%= user.name %></h2>
  <br/>
  <h2>favorites (<%= user.favorite_count %>)</h2>
  <% if(user.favorite_count > 0 ){ %>
    <p><a href='#/user/<%= user.id %>/favorites/'>show on map</a></p>
    <br/>
    <h3>List of favorites:</h3>
    <%= user.favorites_html %>
    <br/>
  <% } %>
</div>
